body {
    background-color: rgba(243, 226, 235, 0.943);      /*achtergrondkleur van mijn website*/ 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: beige;
}

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(9, 9, 9);     /*letter kleur op het menu*/
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #ffe0f1ea;  /*kleur van het menu als je het aanklikt*/
  }

  p.persoonlijk{
    color: #000000ea;
    text-align:left;  /*paragraaf naar linkerkant*/
    font-family: 'Monaco', Courier, monospace;
    font-size: small;
    width: 50%;
  }

  p.sport{
    color: black;
    text-align:left;  /*paragraaf naar linkerkant*/
    font-family: 'Monaco', Courier, monospace;
    font-size: small;
    width: 50%;}

  p.werk{
    color: black;
    text-align:left;  /*paragraaf naar linkerkant*/
    font-family: 'Monaco', Courier, monospace;
    font-size: small;
    width: 50%;
  }

  #paard{
    width: 20%;   /*grootte en plaats van foto aangepast*/
    height: auto;
    float: right; 
  }

  #voetbal{
    width: 20%;   /*grootte en plaats van foto aangepast*/
    height: auto;
    float: right;
    margin-right: 4%;
  }

  #flower{
    width: 30%;     
   float: right under; 
  }


 h2{
    text-align: center;    /*titel aan in het midden gezet*/
    border-style: solid;   /*border om kopjes gezet*/
    width: 100%;           /*tekst smaller neergezet*/
    font-family:'Monaco',Courier, monospace; /*lettertype veranderd*/
  }

  iframe{
    float:right;      /*binary bonanza van plek veranderd*/
    width: 40%;
  }
  p.binairstelsel{  /*paragraaf grootte aangepast*/
    width: 80%;
  }
  p.positiewaarden{
    width:80%;
  }
  p.omrekenen{
    width:80%;
  }
  p.bit-en-Byte{
    width:80%;
  }
  p.toepassing{
    width:80%;
  }
  p.ASCII{
    width:80%;
  }
  p.Hoe-werkt-ASCII{
    width:80%;
  }

  #binairstelsel{  /*# staat voor de klasse die ik aan foto heb gegeven*/
    float: right;
    width:20%
    
  }

  p.HGR-model{
    width: 80%;
  }
  p.CMYK-model{
    width: 80%;
  }
  p.andere-kleurmodellen{
    width: 80%;
  }

  p.invoer{
    width: 80%;
  }

  p.verwerking{
    width: 80%;
  }

  p.uitvoer{
    width: 80%;
  }

  #computer{
    width: 40%;
  }

  p.compressie{
    width: 70%;
  }

  p.waarom-compressie{
    width: 70%;
  }

  p.soorten{
    width: 75%;
  }

  p.geheugenkaartje{
    width: 80%;
  }

  #decompressie{
    width: 20%;
  }

  p.bitmapafbeeldingen{
    width: 80%;
  }

  P.vectorafbeeldingen{
    width: 80%;
  }

  #geluidsgolf{
    width: 30%;
  }

  #footer{                  /*footer aangepast, dus tekst-kleur, achtergrond-kleur en de ruimte tussen de footer en de zijkant van het scherm*/ 
    text-align: right;               
    color: rgb(0, 0, 0);
    margin-right: 3%;
  }
  footer{
    background-color: beige;
  }

