body {
    background-color: rgba(243, 226, 235, 0.943);      /*achtergrondkleur van mijn website*/ 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: beige;
}

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(9, 9, 9);     /*letter kleur op het menu*/
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #ffe0f1ea;  /*kleur van het menu als je het aanklikt*/
  }

  h2{
    text-align: center;    /*titel aan in het midden gezet*/
  }
  p{
    text-align:center;   /*paragraaf naar linkerkant*/
    font-family: 'Monaco', Courier, monospace;
    font-size: small;
  }

 h2{
    text-decoration: overline underline;
    font-family:'Monaco',Courier, monospace;
    width: 100%;
  }
