body {
    background-color: rgba(243, 226, 235, 0.943);      /*achtergrondkleur van mijn website*/ 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: beige;
  
